html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.dark {
  background-color: black !important;
  color: white !important;
}

.light {
  background-color: white !important;
  color: black !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #14b8a6 transparent;
  /* teal-400 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  /* gray-200 */
}

.input-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.input-scrollbar::-webkit-scrollbar-thumb {
  background: #fff transparent;
  /* teal-400 */
  border-radius: 8px;
}

.input-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  /* gray-200 */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}